@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Нажмите на кнопку "Управление шаблонами", чтобы увидеть текущие шаблоны, либо загрузить новые.</p>
</div>
